/* To do - Add photo/columns/better readability to "About Us" 
         - Menus more descriptive, add prices
         - Build-your-own menu design/functionality
*/


* {
  box-sizing: border-box;
}

body {
    font-family: 'Fjalla One', sans-serif;
	background-color: #384047;
    color: rgb(255,255,230);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Kalam', cursive;
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    background-color: yellow;
    color: red;
    border: 5px solid red;
    padding: 0 10px;
    border-radius: 10px;
    max-width: 250px;
    margin: 0 auto;
}

h2 {
    text-transform: uppercase;
    font-size: 1.3em;
    text-align: center;
}

h3 {
    text-transform: uppercase;
    font-size: 1.1em;
}

/********** Main Navigation Styles **********/

#main-nav {
    display: flex;
    flex-direction: column;
}

.menu,
.submenu {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    width: 80%;
}

.menu li,
.submenu li {
    width: 100%;
    padding-top: 5px;
}

.menu li a,
.submenu li a {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    background-color: #778899;
    border-radius: 5px;
    color: rgb(255,255,230);
    padding: 20px 20px;
    transition-duration: 0.3s;
}

.menu a:hover,
.submenu a:hover {
    background-color: #8192a3;
}

.subdiv {
    display: flex;
    align-self: center;
    align-items: center; 
    flex-direction: column;
    max-width: 600px;
    font-size: 1em;
    padding: 0 20px;
    border: 2px solid #778899;
    border-radius: 5px;
    max-width: 700px;
    margin-left: 5%;
    margin-right: 5%;
}

.subdiv h3,
.subdiv p {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

#about-div {
    background-color: #566676; 
}

#about-div p {
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

.submenu, .subdiv, #back-button {
    display: none;
}

#back-button {
    align-self: center;
}

#back-button a {
    background-color: #384047;
    padding: 25px;
}

#back-button svg {
    width: 25px;
    height: 25px;
    fill: #8192a3;
    transition-duration: 0.3s;
}

#back-button svg:hover {
    fill: rgb(255,255,230);
}

iframe {
    border: 5px solid white;
    border-radius: 5px;
    margin-bottom: 20px;
}

/********** Footer Styles **********/


.social {
    display: flex;
    margin-bottom: -5px;
    justify-content: center;
}

.social li {
    flex-grow: 1;
    padding: 5px;
    max-width: 50px
}

.social svg {
    height: 25px;
    width: 25px;
    fill: rgb(255,255,230);
}

.social svg:hover {
    fill: rgba(255,255,255,0.6);
    transition-duration: 0.3s;
}

footer {
    text-align: center;
    background-color: #627383;
    padding-top: 10px;
    border-radius: 2px;
    margin-top: auto;
}

footer p {
    font-size: 0.7em;
    padding-bottom: 0;
    margin-bottom: 1px;
}

/* Keyframes */

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn .3s ease-in 1 forwards;
}

/* idea: on-click addclass fadeout? */

/* Media Queries */

@media (min-width: 769px) {

.menu,
.submenu {
  justify-content: space-between;
  max-width: 700px;
  flex-wrap: nowrap;
}

.menu li,
.submenu li {
  max-width: 200px;
  margin: 0 auto;
}

#hours-div {
  flex-direction: row;
  justify-content: space-between;
  max-width: 1200px;
}

.subdiv h3,
.subdiv p {
  flex-direction: column;
}

iframe {
  margin-top: 20px;
}
}